<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties resource="database.properties"/>

    <context id="default-context" defaultModelType="flat" targetRuntime="MyBatis3"
             introspectedColumnImpl="com.jiang.generator.plugins.SimpleIntrospectedColumn">
        <!--是否自动为keywords添加分隔符  TRUE  添加-->
        <property name="autoDelimitKeywords" value="true"/>

        <!--分隔符-->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
<!--        &lt;!&ndash;生成service层插件&ndash;&gt;
        <plugin type="com.jiang.generator.plugins.ServicePlugin">
            <property name="service-project" value="src\main\java"/>
            <property name="service-package" value="com.jiang.uwaytech.web.service"/>
            <property name="jiang-define-root-interface" value="com.jiang.uwaytech.base.BaseService" />
            <property name="service-impl" value="com.jiang.uwaytech.base.DefaultService"/>
        </plugin>
        <plugin type="com.jiang.generator.plugins.ControllerPlugin">
            <property name="controller-project" value="src\main\java"/>
            <property name="controller-package" value="com.jiang.uwaytech.web.controller"/>
            <property name="jiang-define-root-interface" value="com.jiang.uwaytech.base.BaseController" />
            <property name="service-package" value="com.jiang.uwaytech.web.service"/>
            <property name="rest-controller" value="true"/>
            <property name="controller" value="true"/>
        </plugin>-->
        <!--mapper插件-->
        <plugin type="com.jiang.generator.plugins.MapperPlugin"/>

        <!--注释配置-->
        <commentGenerator type="com.jiang.generator.plugins.CommentGenerator">
            <!--是否生成注释-->
            <property name="suppressAllComments" value="false"/>
            <!--是否添加文件生成时间-->
            <property name="suppressDate" value="true"/>
            <!--是否添加注释-->
            <property name="addRemarkComments" value="false"/>

            <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="${url}">
            <property name="user" value="${user}"/>
            <property name="password" value="${pass}"/>
        </jdbcConnection>
        <javaTypeResolver>
            <!--是否需要将数字映射为BigDecimal-->
            <property name="forceBigDecimals" value="true"/>
            <!--      时间类型 生成方式按照jdk8新增类型 如 LocalDateTime LocalDate LocalTime    -->
<!--            <property name="useJSR310Types" value="true"/>-->
        </javaTypeResolver>
        <javaModelGenerator targetPackage="com.jiang.model" targetProject="src/test/java">

        </javaModelGenerator>
        <sqlMapGenerator targetPackage="mybatis" targetProject="src/test/resources">

        </sqlMapGenerator>
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.jiang.mapper" targetProject="src/test/java">

        </javaClientGenerator>
        <table tableName="im_message" domainObjectName="Message"/>
    </context>
</generatorConfiguration>