<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.mybatis.mapper.TestMapper">
    <resultMap id="testObject" type="com.jiang.mybatis.model.TestObject">
        <result column="seckill_id" jdbcType="BIGINT" javaType="java.lang.Long" property="seckillId"/>
        <result column="name" jdbcType="VARCHAR" javaType="java.lang.String" property="name"/>
        <result column="number" jdbcType="INTEGER" javaType="java.lang.Integer" property="number"/>
        <result column="start_time" jdbcType="TIMESTAMP" javaType="java.util.Date" property="startTime"/>
    </resultMap>

    <select id="selectOne" resultMap="testObject">
        select * from seckill where seckill_id = #{id}
    </select>

    <select id="selectAll" resultMap="testObject">
        select * from seckill
    </select>
</mapper>