<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="default-context" defaultModelType="flat" targetRuntime="MyBatis3"
             introspectedColumnImpl="com.jiang.generator.plugins.SimpleIntrospectedColumn">
        <!--是否自动为keywords添加分隔符  TRUE  添加-->
        <property name="autoDelimitKeywords" value="true"/>

        <!--分隔符-->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <!--生成service层插件-->
        <plugin type="com.jiang.generator.plugins.ServicePlugin">
            <property name="jiang-define-root-interface" value="com.jiang.web.service.BaseService" />
            <property name="service-package" value="com.jiang.web.service"/>
            <property name="service-project" value="src\main\java"/>
            <property name="service-impl" value="com.jiang.web.service.DefaultService"/>
        </plugin>
        <!--mapper插件-->
        <plugin type="com.jiang.generator.plugins.MapperPlugin"/>

        <!--注释配置-->
        <commentGenerator type="com.jiang.generator.plugins.CommentGenerator">
            <!--是否生成注释-->
            <property name="suppressAllComments" value="false"/>
            <!--是否添加文件生成时间-->
            <property name="suppressDate" value="false"/>
            <!--是否添加注释-->
            <property name="addRemarkComments" value="false"/>
            <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://git.yuansuju.com:3306/yuansuju?useSSL=false">
            <property name="user" value="root"/>
            <property name="password" value="Xihe123456"/>
        </jdbcConnection>
        <javaTypeResolver>
            <!--是否需要将数字映射为BigDecimal-->
            <property name="forceBigDecimals" value="true"/>
        </javaTypeResolver>
        <javaModelGenerator targetPackage="com.jiang.dao.model" targetProject="src/main/java">
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="mybatis" targetProject="src/main/resources">

        </sqlMapGenerator>
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.jiang.dao.mapper" targetProject="demo/src/main/java">
            <property name="jiang-define-root-interface" value="com.jiang.mybatis.mapper.BaseMapper"/>
        </javaClientGenerator>
        <table tableName="yuansuju_ht_file" domainObjectName="YuansujuFile"/>
        <!--<table tableName="test" domainObjectName="Test"/>-->
    </context>
</generatorConfiguration>